.sub_navigator {
    margin-left: 2rem;

}


#home__tag {
    opacity: 0.5;
}

.main-container {
    margin-top: 2rem;
    display: flex;
    width: 100vw;
}


.left-container {
    border: 1px solid red;
    margin-left: 2rem;
    display: flex;
    justify-content: center;
  
    flex-direction: column;
    gap: 2rem;
    color: #9F3247;

}

.filter__heading {

    display: flex;
    justify-content: space-between;


}

.price__filter{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}




#apply__filter__btn {
    border: none;
    background: linear-gradient(89.28deg, #7B2334 5.99%, #9F3247 94.17%);
    width: Fill (247px)px;
    height: Fixed (48px)px;
    padding: 16px 54px 16px 54px;
    gap: 12px;
    border-radius: 62px;
    opacity: 0px;
    color: white;

}

.pricing__filter {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.right__side{
    border: 1px solid yellow;
    flex-grow: 1;
    padding: 0rem 1rem;
    color: #9F3247;

}

#upper_heading{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}