#bar-icon {
  display: none;
}
.sub_navigator {
  margin-left: 2rem;
}

#home__tag {
  opacity: 0.5;
}

.main-container {
  margin-top: 2rem;
  display: flex;
  font-family: Roboto;
}

.left-container {
  margin-left: 2rem;
  display: flex;

  flex-direction: column;
  width: 12%;
  gap: 2rem;
  color: #9f3247;
}

.filter__heading {
  display: flex;
  justify-content: space-between;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  line-height: 23.44px;
  text-align: left;
}

.price__filter {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

#apply__filter__btn {
  border: none;
  background: linear-gradient(89.28deg, #7b2334 5.99%, #9f3247 94.17%);
  width: Fill (247px) px;
  height: Fixed (48px) px;
  padding: 16px 54px 16px 54px;
  gap: 12px;
  border-radius: 62px;
  opacity: 0px;
  color: white;

  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  text-align: center;
}

.pricing__filter {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.right__side {
  flex-grow: 1;
  padding: 0rem 2rem;
  color: #9f3247;
}

#upper_heading {
  margin-left: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.oa-cards-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 2rem;
  justify-content: center;
  align-items: center;
}

.oa-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
}
.oa-card img {
  width: 350px;
}
.oa-card-inner-Spans {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.description {
  color: #9f3247;
  font-weight: 700;
  font-size: 20px;
  font-family: "Roboto Condensed", sans-serif;
}

.bidsSpan {
  font-size: 14px;
  font-weight: 400;
}

.inner-Spans span:nth-child(3) {
  color: #605d5e;
  font-weight: 400;
  font-size: 14px;
  font-family: "Roboto Condensed", sans-serif;
}

.lastchild {
  color: #212427;
  font-weight: 400;
  font-size: 14px;
  font-family: "Roboto Condensed", sans-serif;
}
.filterIcon {
  display: none;
}
@media screen and (max-width: 1300px) {
  .oa-cards-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 1000px) {
  .left-container {
    display: none;
  }

  .oa-cards-wrapper {
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
  }
}

@media screen and (max-width: 500px) {
  .right__side {
    padding: 0rem;
  }
  .filter {
    display: none;
  }
  .filterIcon {
    display: flex;
  }
  .oa-cards-wrapper {
    padding: 0.5rem;
  }
  #upper_heading {
    margin: 0rem;
    padding: 1rem;
  }
}
